<!-- The header will have the animal name at the top -->
<h1><%= @zoo.name %></h1>
<!-- The header will have the animal gender -->
<p><h4>Animal enclosure: </h4><%= @zoo.enclosure_no %></p>
<!-- The header will have the animal age -->
<p><h4>Animal Age: </h4><%= @zoo.age %></p>
<!-- The header will have the animal type -->
<p><h4>Animal Species: </h4><%= @zoo.species %></p>
<!-- The header will have the animal enclosure number -->
<p><h4>Animal Class: </h4><%= @zoo.class %></p>
<!-- The animal_description of the be placed underneath the header -->
<p><h4>Animal Desciption: </h4><%= @zoo.animal_description %></p>
<!-- The form gives the page the ability to delete the animal for the website -->
<form action="/<%= @zoo.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
<!-- Injecting your id in to HTML page -->
<a href="<%= @zoo.id %>/edit">Edit</a>
